USE [RESETBOOKSTORE]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[IDBINHLUAN] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[NOIDUNG] [nvarchar](500) NOT NULL,
	[DIEM] [int] NOT NULL,
	[NGAY] [date] NOT NULL,
 CONSTRAINT [PK_BINHLUAN] PRIMARY KEY CLUSTERED 
(
	[IDBINHLUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDONMUASACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONMUASACH](
	[IDCTDONMUASACH] [int] IDENTITY(1,1) NOT NULL,
	[IDDONMUASACH] [int] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_CTDONMUASACH] PRIMARY KEY CLUSTERED 
(
	[IDCTDONMUASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDONNHAPSACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONNHAPSACH](
	[IDCTDONNHAPSACH] [int] IDENTITY(1,1) NOT NULL,
	[IDDONNHAPSACH] [int] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_CTDONNHAPSACH] PRIMARY KEY CLUSTERED 
(
	[IDCTDONNHAPSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTGIASACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTGIASACH](
	[IDCTGIASACH] [int] IDENTITY(1,1) NOT NULL,
	[IDGIA] [int] NOT NULL,
	[GIA] [int] NOT NULL,
	[NGAYAPDUNG] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[ISBN] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CTGIASACH] PRIMARY KEY CLUSTERED 
(
	[IDCTGIASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPHIEUNHAP]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPHIEUNHAP](
	[IDCTPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[SOPHIEUNHAP] [int] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
 CONSTRAINT [PK_CTPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[IDCTPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONMUASACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONMUASACH](
	[IDDONMUASACH] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[NGAYMUA] [date] NOT NULL,
	[TRANGTHAI] [int] NOT NULL,
	[DIACHIGIAO] [nvarchar](200) NULL,
 CONSTRAINT [PK_DONMUASACH] PRIMARY KEY CLUSTERED 
(
	[IDDONMUASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONNHAPSACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONNHAPSACH](
	[IDDONNHAPSACH] [int] IDENTITY(1,1) NOT NULL,
	[MANHAXUATBAN] [varchar](20) NOT NULL,
	[MANHANVIEN] [varchar](50) NOT NULL,
	[NGAYDAT] [date] NOT NULL,
 CONSTRAINT [PK_DONNHAPSACH] PRIMARY KEY CLUSTERED 
(
	[IDDONNHAPSACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIA]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIA](
	[IDGIA] [int] IDENTITY(1,1) NOT NULL,
	[TENGIA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GIA] PRIMARY KEY CLUSTERED 
(
	[IDGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[IDGIOHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_GIOHANG] PRIMARY KEY CLUSTERED 
(
	[IDGIOHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[IDANH] [int] IDENTITY(1,1) NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
	[FILENAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HINHANH] PRIMARY KEY CLUSTERED 
(
	[IDANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[EMAIL] [varchar](150) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](15) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](12) NULL,
	[HINHANH] [varchar](100) NOT NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [varchar](50) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](15) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[NGAYSINH] [date] NULL,
	[SODIENTHOAI] [varchar](12) NULL,
	[HINHANH] [varchar](100) NOT NULL,
	[SOBHXH] [varchar](20) NULL,
	[EMAIL] [varchar](150) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MANHAXUATBAN] [varchar](20) NOT NULL,
	[TENNHAXUATBAN] [nvarchar](50) NOT NULL,
	[CHUSOHUU] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MANHAXUATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SOPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MANHANVIEN] [varchar](50) NOT NULL,
	[IDDON] [int] NOT NULL,
	[NGAYLAP] [date] NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[SOPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[IDQUYEN] [int] IDENTITY(1,1) NOT NULL,
	[TENQUYEN] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_QUYEN] PRIMARY KEY CLUSTERED 
(
	[IDQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[ISBN] [varchar](20) NOT NULL,
	[TENSACH] [nvarchar](100) NOT NULL,
	[KHUONKHO] [nvarchar](50) NULL,
	[SOTRANG] [int] NOT NULL,
	[TRONGLUONG] [int] NULL,
	[MOTA] [nvarchar](500) NULL,
	[SOLUONG] [int] NOT NULL,
	[MANHAXUATBAN] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANGTAC]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANGTAC](
	[IDSANGTAC] [int] IDENTITY(1,1) NOT NULL,
	[IDTACGIA] [int] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SANGTAC] PRIMARY KEY CLUSTERED 
(
	[IDSANGTAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TACGIA]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[IDTACGIA] [int] IDENTITY(1,1) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[IDTACGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENDANGNHAP] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](256) NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[IDQUYEN] [int] NOT NULL,
 CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[IDTHELOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENTHELOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[IDTHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THELOAISACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAISACH](
	[IDTHELOAISACH] [int] IDENTITY(1,1) NOT NULL,
	[IDTHELOAI] [int] NOT NULL,
	[ISBN] [varchar](20) NOT NULL,
 CONSTRAINT [PK_THELOAISACH] PRIMARY KEY CLUSTERED 
(
	[IDTHELOAISACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTDONMUASACH] ON 

INSERT [dbo].[CTDONMUASACH] ([IDCTDONMUASACH], [IDDONMUASACH], [ISBN], [SOLUONG], [DONGIA]) VALUES (9, 10, N'9786041149372', 1, 100000)
INSERT [dbo].[CTDONMUASACH] ([IDCTDONMUASACH], [IDDONMUASACH], [ISBN], [SOLUONG], [DONGIA]) VALUES (10, 11, N'9786041149372', 1, 100000)
SET IDENTITY_INSERT [dbo].[CTDONMUASACH] OFF
GO
SET IDENTITY_INSERT [dbo].[CTDONNHAPSACH] ON 

INSERT [dbo].[CTDONNHAPSACH] ([IDCTDONNHAPSACH], [IDDONNHAPSACH], [ISBN], [SOLUONG], [DONGIA]) VALUES (12, 15, N'9786041149372', 10, 40000)
INSERT [dbo].[CTDONNHAPSACH] ([IDCTDONNHAPSACH], [IDDONNHAPSACH], [ISBN], [SOLUONG], [DONGIA]) VALUES (13, 15, N'9786043235767', 10, 40000)
INSERT [dbo].[CTDONNHAPSACH] ([IDCTDONNHAPSACH], [IDDONNHAPSACH], [ISBN], [SOLUONG], [DONGIA]) VALUES (14, 15, N'9786045882018', 10, 50000)
SET IDENTITY_INSERT [dbo].[CTDONNHAPSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[CTGIASACH] ON 

INSERT [dbo].[CTGIASACH] ([IDCTGIASACH], [IDGIA], [GIA], [NGAYAPDUNG], [NGAYKETTHUC], [ISBN]) VALUES (21, 1, 40000, CAST(N'2024-08-04' AS Date), CAST(N'2024-09-07' AS Date), N'9786041098886')
INSERT [dbo].[CTGIASACH] ([IDCTGIASACH], [IDGIA], [GIA], [NGAYAPDUNG], [NGAYKETTHUC], [ISBN]) VALUES (22, 2, 100000, CAST(N'2024-08-04' AS Date), CAST(N'2024-09-07' AS Date), N'9786041098886')
INSERT [dbo].[CTGIASACH] ([IDCTGIASACH], [IDGIA], [GIA], [NGAYAPDUNG], [NGAYKETTHUC], [ISBN]) VALUES (23, 3, 90000, CAST(N'2024-08-04' AS Date), CAST(N'2024-09-07' AS Date), N'9786041098886')
SET IDENTITY_INSERT [dbo].[CTGIASACH] OFF
GO
SET IDENTITY_INSERT [dbo].[CTPHIEUNHAP] ON 

INSERT [dbo].[CTPHIEUNHAP] ([IDCTPHIEUNHAP], [SOPHIEUNHAP], [ISBN], [SOLUONG], [DONGIA]) VALUES (3, 2, N'9786041149372', 10, 40000)
INSERT [dbo].[CTPHIEUNHAP] ([IDCTPHIEUNHAP], [SOPHIEUNHAP], [ISBN], [SOLUONG], [DONGIA]) VALUES (4, 2, N'9786043235767', 10, 40000)
INSERT [dbo].[CTPHIEUNHAP] ([IDCTPHIEUNHAP], [SOPHIEUNHAP], [ISBN], [SOLUONG], [DONGIA]) VALUES (5, 2, N'9786045882018', 10, 50000)
SET IDENTITY_INSERT [dbo].[CTPHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[DONMUASACH] ON 

INSERT [dbo].[DONMUASACH] ([IDDONMUASACH], [TENDANGNHAP], [NGAYMUA], [TRANGTHAI], [DIACHIGIAO]) VALUES (10, N'nguyenvanabc', CAST(N'2024-08-04' AS Date), 1, N'HCM')
INSERT [dbo].[DONMUASACH] ([IDDONMUASACH], [TENDANGNHAP], [NGAYMUA], [TRANGTHAI], [DIACHIGIAO]) VALUES (11, N'nguyenvanabc', CAST(N'2024-08-04' AS Date), 1, N'HCM')
SET IDENTITY_INSERT [dbo].[DONMUASACH] OFF
GO
SET IDENTITY_INSERT [dbo].[DONNHAPSACH] ON 

INSERT [dbo].[DONNHAPSACH] ([IDDONNHAPSACH], [MANHAXUATBAN], [MANHANVIEN], [NGAYDAT]) VALUES (15, N'NXB01', N'NV01', CAST(N'2024-08-04' AS Date))
INSERT [dbo].[DONNHAPSACH] ([IDDONNHAPSACH], [MANHAXUATBAN], [MANHANVIEN], [NGAYDAT]) VALUES (16, N'NXB04', N'NV01', CAST(N'2024-08-04' AS Date))
INSERT [dbo].[DONNHAPSACH] ([IDDONNHAPSACH], [MANHAXUATBAN], [MANHANVIEN], [NGAYDAT]) VALUES (17, N'NXB02', N'NV01', CAST(N'2024-08-04' AS Date))
SET IDENTITY_INSERT [dbo].[DONNHAPSACH] OFF
GO
SET IDENTITY_INSERT [dbo].[GIA] ON 

INSERT [dbo].[GIA] ([IDGIA], [TENGIA]) VALUES (1, N'NHAP')
INSERT [dbo].[GIA] ([IDGIA], [TENGIA]) VALUES (2, N'BAN')
INSERT [dbo].[GIA] ([IDGIA], [TENGIA]) VALUES (3, N'KHUYENMAI')
SET IDENTITY_INSERT [dbo].[GIA] OFF
GO
SET IDENTITY_INSERT [dbo].[HINHANH] ON 

INSERT [dbo].[HINHANH] ([IDANH], [ISBN], [FILENAME]) VALUES (8, N'9786041098886', N'SMTQ1.png')
INSERT [dbo].[HINHANH] ([IDANH], [ISBN], [FILENAME]) VALUES (9, N'9786041098886', N'SMTQ2.png')
INSERT [dbo].[HINHANH] ([IDANH], [ISBN], [FILENAME]) VALUES (10, N'9786041098886', N'SMTQ3.png')
SET IDENTITY_INSERT [dbo].[HINHANH] OFF
GO
INSERT [dbo].[KHACHHANG] ([TENDANGNHAP], [EMAIL], [HO], [TEN], [GIOITINH], [DIACHI], [NGAYSINH], [SODIENTHOAI], [HINHANH]) VALUES (N'nguyenvanabc', N'nvabc@gmail.com', N'Nguyễn Văn', N'Abc', 1, N'Quận 1, TPHCM', CAST(N'2012-03-30' AS Date), N'0123456987', N'nvabc.png')
INSERT [dbo].[KHACHHANG] ([TENDANGNHAP], [EMAIL], [HO], [TEN], [GIOITINH], [DIACHI], [NGAYSINH], [SODIENTHOAI], [HINHANH]) VALUES (N'nva', N'dangthanhtan123@gmail.com', N'Nguyên Văn', N'A', 0, NULL, NULL, NULL, N'default.png')
INSERT [dbo].[KHACHHANG] ([TENDANGNHAP], [EMAIL], [HO], [TEN], [GIOITINH], [DIACHI], [NGAYSINH], [SODIENTHOAI], [HINHANH]) VALUES (N'nvb', N'nguyenvanb@gmail.com', N'Nguyễn Văn', N'B', 1, NULL, NULL, NULL, N'default.png')
GO
INSERT [dbo].[NHANVIEN] ([MANHANVIEN], [HO], [TEN], [GIOITINH], [DIACHI], [NGAYSINH], [SODIENTHOAI], [HINHANH], [SOBHXH], [EMAIL]) VALUES (N'NV01', N'Hồ', N'Văn', 0, N'HCM', CAST(N'2000-07-31' AS Date), N'012344455', N'default.png', NULL, N'hv@gamil.com')
GO
INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [CHUSOHUU]) VALUES (N'NXB-KD', N'Nhà xuất bản Kim Đồng', N'Đoàn Thanh niên Cộng sản Hồ Chí Minh')
INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [CHUSOHUU]) VALUES (N'NXB-T', N'Nhà xuất bản Trẻ', N'Đoàn Thanh niên Cộng sản Hồ Chí Minh')
INSERT [dbo].[NHAXUATBAN] ([MANHAXUATBAN], [TENNHAXUATBAN], [CHUSOHUU]) VALUES (N'NXB01', N'Nhà xuất bản Trẻ', N'Nguyễn Văn A')
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([SOPHIEUNHAP], [MANHANVIEN], [IDDON], [NGAYLAP]) VALUES (2, N'NV01', 15, CAST(N'2024-08-04' AS Date))
INSERT [dbo].[PHIEUNHAP] ([SOPHIEUNHAP], [MANHANVIEN], [IDDON], [NGAYLAP]) VALUES (5, N'NV01', 16, CAST(N'2024-08-04' AS Date))
INSERT [dbo].[PHIEUNHAP] ([SOPHIEUNHAP], [MANHANVIEN], [IDDON], [NGAYLAP]) VALUES (8, N'NV01', 17, CAST(N'2024-08-04' AS Date))
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
GO
SET IDENTITY_INSERT [dbo].[QUYEN] ON 

INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (1, N'NHANVIEN')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (2, N'KHACHHANG')
INSERT [dbo].[QUYEN] ([IDQUYEN], [TENQUYEN]) VALUES (3, N'QUANLY')
SET IDENTITY_INSERT [dbo].[QUYEN] OFF
GO
INSERT [dbo].[SACH] ([ISBN], [TENSACH], [KHUONKHO], [SOTRANG], [TRONGLUONG], [MOTA], [SOLUONG], [MANHAXUATBAN]) VALUES (N'9786041127892', N'7 Thói Quen Hiệu Quả', N'14x20.5 cm', 432, 450, N'Hướng dẫn thực tiễn để đạt được mục tiêu cá nhân và nghề nghiệp.', 1, N'NXB03')
INSERT [dbo].[SACH] ([ISBN], [TENSACH], [KHUONKHO], [SOTRANG], [TRONGLUONG], [MOTA], [SOLUONG], [MANHAXUATBAN]) VALUES (N'9786041149365', N'Đi Tìm Lẽ Sống', N'13x20.5 cm', 248, 300, N'Cuốn sách kinh điển về ý nghĩa cuộc sống.', 1, N'NXB06')
GO
SET IDENTITY_INSERT [dbo].[SANGTAC] ON 

INSERT [dbo].[SANGTAC] ([IDSANGTAC], [IDTACGIA], [ISBN]) VALUES (80, 10, N'9786045882018')
INSERT [dbo].[SANGTAC] ([IDSANGTAC], [IDTACGIA], [ISBN]) VALUES (81, 11, N'9786042147974')
INSERT [dbo].[SANGTAC] ([IDSANGTAC], [IDTACGIA], [ISBN]) VALUES (82, 12, N'9786041127892')
SET IDENTITY_INSERT [dbo].[SANGTAC] OFF
GO
SET IDENTITY_INSERT [dbo].[TACGIA] ON 

INSERT [dbo].[TACGIA] ([IDTACGIA], [HO], [TEN]) VALUES (10, N'Paulo', N'Coelho')
INSERT [dbo].[TACGIA] ([IDTACGIA], [HO], [TEN]) VALUES (11, N'Dale', N'Carnegie')
INSERT [dbo].[TACGIA] ([IDTACGIA], [HO], [TEN]) VALUES (12, N'Stephen', N'Covey')
SET IDENTITY_INSERT [dbo].[TACGIA] OFF
GO
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [TRANGTHAI], [IDQUYEN]) VALUES (N'nguyenvanabc', N'$2a$10$LBU8V35ZlHz9XDVRDUxoHOVyY997.iDhE1t2wQ9elYH/2.yZBj8Ti', 1, 2)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [TRANGTHAI], [IDQUYEN]) VALUES (N'NV01', N'$2a$10$LBU8V35ZlHz9XDVRDUxoHOVyY997.iDhE1t2wQ9elYH/2.yZBj8Ti', 1, 1)
INSERT [dbo].[TAIKHOAN] ([TENDANGNHAP], [MATKHAU], [TRANGTHAI], [IDQUYEN]) VALUES (N'nva', N'$2a$10$kQJJ/1ewf7VyYKK0hp5LNu0b4vEekbLh3lrcBAtwMz8tfyBL4i5gW', 1, 2)
GO
SET IDENTITY_INSERT [dbo].[THELOAI] ON 

INSERT [dbo].[THELOAI] ([IDTHELOAI], [TENTHELOAI]) VALUES (17, N'Giáo dục')
INSERT [dbo].[THELOAI] ([IDTHELOAI], [TENTHELOAI]) VALUES (20, N'Khởi nghiệp')
INSERT [dbo].[THELOAI] ([IDTHELOAI], [TENTHELOAI]) VALUES (14, N'Kinh doanh')
SET IDENTITY_INSERT [dbo].[THELOAI] OFF
GO
SET IDENTITY_INSERT [dbo].[THELOAISACH] ON 

INSERT [dbo].[THELOAISACH] ([IDTHELOAISACH], [IDTHELOAI], [ISBN]) VALUES (15, 12, N'9786041098886')
INSERT [dbo].[THELOAISACH] ([IDTHELOAISACH], [IDTHELOAI], [ISBN]) VALUES (16, 12, N'9786041127892')
INSERT [dbo].[THELOAISACH] ([IDTHELOAISACH], [IDTHELOAI], [ISBN]) VALUES (17, 12, N'9786041149365')
SET IDENTITY_INSERT [dbo].[THELOAISACH] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_BINHLUAN]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[BINHLUAN] ADD  CONSTRAINT [UK_BINHLUAN] UNIQUE NONCLUSTERED 
(
	[NGAY] DESC,
	[ISBN] ASC,
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CTDONMUASACH]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[CTDONMUASACH] ADD  CONSTRAINT [UK_CTDONMUASACH] UNIQUE NONCLUSTERED 
(
	[IDDONMUASACH] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CTDONNHAPSACH]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[CTDONNHAPSACH] ADD  CONSTRAINT [UK_CTDONNHAPSACH] UNIQUE NONCLUSTERED 
(
	[IDDONNHAPSACH] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CTGIASACH]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[CTGIASACH] ADD  CONSTRAINT [UK_CTGIASACH] UNIQUE NONCLUSTERED 
(
	[NGAYAPDUNG] DESC,
	[IDGIA] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_CTPHIEUNHAP]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[CTPHIEUNHAP] ADD  CONSTRAINT [UK_CTPHIEUNHAP] UNIQUE NONCLUSTERED 
(
	[SOPHIEUNHAP] DESC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_DONNHAPSACH]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[DONNHAPSACH] ADD  CONSTRAINT [UK_DONNHAPSACH] UNIQUE NONCLUSTERED 
(
	[NGAYDAT] DESC,
	[MANHAXUATBAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_GIOHANG]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[GIOHANG] ADD  CONSTRAINT [UK_GIOHANG] UNIQUE NONCLUSTERED 
(
	[ISBN] ASC,
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_KHACHHANG]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [UK_KHACHHANG] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_PHIEUNHAP]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[PHIEUNHAP] ADD  CONSTRAINT [UK_PHIEUNHAP] UNIQUE NONCLUSTERED 
(
	[NGAYLAP] DESC,
	[IDDON] ASC,
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SOLUONG]    Script Date: 05/08/2024 7:06:18 CH ******/
CREATE NONCLUSTERED INDEX [IX_SOLUONG] ON [dbo].[SACH]
(
	[SOLUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_SANGTAC]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[SANGTAC] ADD  CONSTRAINT [UK_SANGTAC] UNIQUE NONCLUSTERED 
(
	[IDTACGIA] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_THELOAI]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[THELOAI] ADD  CONSTRAINT [UK_THELOAI] UNIQUE NONCLUSTERED 
(
	[TENTHELOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_THELOAISACH]    Script Date: 05/08/2024 7:06:18 CH ******/
ALTER TABLE [dbo].[THELOAISACH] ADD  CONSTRAINT [UK_THELOAISACH] UNIQUE NONCLUSTERED 
(
	[IDTHELOAI] ASC,
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONMUASACH] ADD  CONSTRAINT [DF_DONMUASACH_DAGIAO]  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_GIOITINH]  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [DF_KHACHHANG_HINHANH]  DEFAULT ('default.png') FOR [HINHANH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT ((0)) FOR [GIOITINH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_HINHANH]  DEFAULT ('default.png') FOR [HINHANH]
GO
ALTER TABLE [dbo].[SACH] ADD  CONSTRAINT [DF_SACH_SOLUONG]  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [DF_TAIKHOAN_TRANGTHAI]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_KHACHHANG] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[KHACHHANG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_KHACHHANG]
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD  CONSTRAINT [FK_BINHLUAN_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[BINHLUAN] CHECK CONSTRAINT [FK_BINHLUAN_SACH]
GO
ALTER TABLE [dbo].[CTDONMUASACH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONMUASACH_DONMUASACH] FOREIGN KEY([IDDONMUASACH])
REFERENCES [dbo].[DONMUASACH] ([IDDONMUASACH])
GO
ALTER TABLE [dbo].[CTDONMUASACH] CHECK CONSTRAINT [FK_CTDONMUASACH_DONMUASACH]
GO
ALTER TABLE [dbo].[CTDONMUASACH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONMUASACH_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[CTDONMUASACH] CHECK CONSTRAINT [FK_CTDONMUASACH_SACH]
GO
ALTER TABLE [dbo].[CTDONNHAPSACH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONNHAPSACH_DONNHAPSACH] FOREIGN KEY([IDDONNHAPSACH])
REFERENCES [dbo].[DONNHAPSACH] ([IDDONNHAPSACH])
GO
ALTER TABLE [dbo].[CTDONNHAPSACH] CHECK CONSTRAINT [FK_CTDONNHAPSACH_DONNHAPSACH]
GO
ALTER TABLE [dbo].[CTDONNHAPSACH]  WITH CHECK ADD  CONSTRAINT [FK_CTDONNHAPSACH_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[CTDONNHAPSACH] CHECK CONSTRAINT [FK_CTDONNHAPSACH_SACH]
GO
ALTER TABLE [dbo].[CTGIASACH]  WITH CHECK ADD  CONSTRAINT [FK_CTGIASACH_GIA] FOREIGN KEY([IDGIA])
REFERENCES [dbo].[GIA] ([IDGIA])
GO
ALTER TABLE [dbo].[CTGIASACH] CHECK CONSTRAINT [FK_CTGIASACH_GIA]
GO
ALTER TABLE [dbo].[CTGIASACH]  WITH CHECK ADD  CONSTRAINT [FK_CTGIASACH_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[CTGIASACH] CHECK CONSTRAINT [FK_CTGIASACH_SACH]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([SOPHIEUNHAP])
REFERENCES [dbo].[PHIEUNHAP] ([SOPHIEUNHAP])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CTPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[CTPHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_SACH]
GO
ALTER TABLE [dbo].[DONMUASACH]  WITH CHECK ADD  CONSTRAINT [FK_DONMUASACH_KHACHHANG] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[KHACHHANG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[DONMUASACH] CHECK CONSTRAINT [FK_DONMUASACH_KHACHHANG]
GO
ALTER TABLE [dbo].[DONNHAPSACH]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAPSACH_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[DONNHAPSACH] CHECK CONSTRAINT [FK_DONNHAPSACH_NHANVIEN]
GO
ALTER TABLE [dbo].[DONNHAPSACH]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAPSACH_NHAXUATBAN] FOREIGN KEY([MANHAXUATBAN])
REFERENCES [dbo].[NHAXUATBAN] ([MANHAXUATBAN])
GO
ALTER TABLE [dbo].[DONNHAPSACH] CHECK CONSTRAINT [FK_DONNHAPSACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_KHACHHANG] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[KHACHHANG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_SACH]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANH_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HINHANH_SACH]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_TAIKHOAN] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_TAIKHOAN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[TAIKHOAN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_DONNHAPSACH] FOREIGN KEY([IDDON])
REFERENCES [dbo].[DONNHAPSACH] ([IDDONNHAPSACH])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_DONNHAPSACH]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NHANVIEN] ([MANHANVIEN])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([MANHAXUATBAN])
REFERENCES [dbo].[NHAXUATBAN] ([MANHAXUATBAN])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
ALTER TABLE [dbo].[SANGTAC]  WITH CHECK ADD  CONSTRAINT [FK_SANGTAC_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[SANGTAC] CHECK CONSTRAINT [FK_SANGTAC_SACH]
GO
ALTER TABLE [dbo].[SANGTAC]  WITH CHECK ADD  CONSTRAINT [FK_SANGTAC_TACGIA] FOREIGN KEY([IDTACGIA])
REFERENCES [dbo].[TACGIA] ([IDTACGIA])
GO
ALTER TABLE [dbo].[SANGTAC] CHECK CONSTRAINT [FK_SANGTAC_TACGIA]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_QUYEN] FOREIGN KEY([IDQUYEN])
REFERENCES [dbo].[QUYEN] ([IDQUYEN])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_QUYEN]
GO
ALTER TABLE [dbo].[THELOAISACH]  WITH CHECK ADD  CONSTRAINT [FK_THELOAISACH_SACH] FOREIGN KEY([ISBN])
REFERENCES [dbo].[SACH] ([ISBN])
GO
ALTER TABLE [dbo].[THELOAISACH] CHECK CONSTRAINT [FK_THELOAISACH_SACH]
GO
ALTER TABLE [dbo].[THELOAISACH]  WITH CHECK ADD  CONSTRAINT [FK_THELOAISACH_THELOAI] FOREIGN KEY([IDTHELOAI])
REFERENCES [dbo].[THELOAI] ([IDTHELOAI])
GO
ALTER TABLE [dbo].[THELOAISACH] CHECK CONSTRAINT [FK_THELOAISACH_THELOAI]
GO
/****** Object:  StoredProcedure [dbo].[SP_BINHLUAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BINHLUAN]
@id int, @tendangnhap varchar(50), @isbn varchar(20), @noidung nvarchar(500), @diem int
AS
BEGIN
	DECLARE @ngayhientai date;
	SET @ngayhientai = GETDATE()

	INSERT INTO BINHLUAN(IDBINHLUAN,TENDANGNHAP, ISBN, NOIDUNG, DIEM, NGAY)
	VALUES (@id, @tendangnhap, @isbn, @noidung, @diem, @ngayhientai)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_NHA_XUAT_BAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CAP_NHAT_NHA_XUAT_BAN]
@manxb varchar(20), @tennxb nvarchar(50), @chusohuu nvarchar(100)
AS
BEGIN
	UPDATE NHAXUATBAN SET TENNHAXUATBAN = @tennxb, CHUSOHUU = @chusohuu WHERE MANHAXUATBAN =@manxb
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_SACH_TRONG_GIO_HANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CAP_NHAT_SACH_TRONG_GIO_HANG]
 @id int, @soluong int
AS
BEGIN
	UPDATE GIOHANG
	SET SOLUONG = @soluong
	WHERE IDGIOHANG = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_TAC_GIA]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CAP_NHAT_TAC_GIA]
@id int, @ho nvarchar(50), @ten nvarchar(15)
AS
BEGIN
	UPDATE TACGIA
	SET HO = @ho, TEN = @ten
	WHERE IDTACGIA = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CAP_NHAT_THE_LOAI]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CAP_NHAT_THE_LOAI]
@id int, @ten nvarchar(50)
AS
BEGIN
	UPDATE THELOAI 
	SET TENTHELOAI = @ten
	WHERE IDTHELOAI = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_EMAIL]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_EMAIL]
@email varchar(150)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM KHACHHANG WHERE EMAIL = @email)
		BEGIN
			SELECT 1
		END
		ELSE
		BEGIN
			SELECT 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Check_ISBN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Check_ISBN]
    @isbn VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM SACH WHERE ISBN = @isbn)
    BEGIN
        SELECT 1
    END
    ELSE
    BEGIN
        SELECT 0
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_TDN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_TDN]
@tdn varchar(50)
AS
BEGIN
	IF EXISTS (SELECT 1 FROM TAIKHOAN WHERE TENDANGNHAP = @tdn)
		BEGIN
			SELECT 1
		END
		ELSE
		BEGIN
			SELECT 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHINH_SUA_BINHLUAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHINH_SUA_BINHLUAN]
@id int, @tendangnhap varchar(50), @isbn varchar(20), @noidung nvarchar(500), @diem int
AS
BEGIN
	DECLARE @ngayhientai date;
	SET @ngayhientai = GETDATE()

	UPDATE BINHLUAN
	SET NOIDUNG = @noidung, DIEM = @diem, NGAY=@ngayhientai
	WHERE IDBINHLUAN=@id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DOI_MAT_KHAU]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DOI_MAT_KHAU]
@tdn varchar(50), @newMK varchar(256)
AS
BEGIN
	UPDATE TAIKHOAN SET MATKHAU = @newMK WHERE TENDANGNHAP=@tdn
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_ALL_PHIEU_NHAP]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_GET_ALL_PHIEU_NHAP]
AS
BEGIN
    SELECT P.* 
    FROM (SELECT * FROM PHIEUNHAP) P
    ORDER BY NGAYLAP DESC, SOPHIEUNHAP DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_CTDONNHAPSACH_IDDON]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_CTDONNHAPSACH_IDDON]
@id int 
AS
BEGIN
	SELECT S.ISBN, S.TENSACH, CTDNS.DONGIA AS GIANHAP, HA.FILENAME AS TENANH, CTDNS.SOLUONG AS SOLUONG
	FROM (SELECT * FROM CTDONNHAPSACH WHERE IDDONNHAPSACH = @id) CTDNS
	INNER JOIN (SELECT * FROM SACH b) S ON CTDNS.ISBN = S.ISBN
	LEFT JOIN (SELECT * FROM HINHANH WHERE IDANH IN ( SELECT MIN(IDANH)FROM HINHANH GROUP BY ISBN)) HA ON HA.ISBN = S.ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_DONNHAPSACH_ID]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_DONNHAPSACH_ID]
@id	int
AS
BEGIN
 SELECT D.* , NXB.TENNHAXUATBAN
    FROM (SELECT * FROM DONNHAPSACH WHERE IDDONNHAPSACH = @ID) D INNER JOIN (SELECT * FROM NHAXUATBAN) NXB ON D.MANHAXUATBAN = NXB.MANHAXUATBAN 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_LS_GIA_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_LS_GIA_SACH]
@isbn varchar(20)
AS
BEGIN
	SELECT IDCTGIASACH, GIA, TENGIA, NGAYAPDUNG, NGAYKETTHUC
	FROM (SELECT * FROM CTGIASACH WHERE ISBN = @isbn) CTGS
	INNER JOIN (SELECT * FROM GIA) G ON G.IDGIA = CTGS.IDGIA
	ORDER BY NGAYAPDUNG ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SACH_GIA]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_SACH_GIA]
@search nvarchar(100)
AS
BEGIN
	DECLARE @ngayhientai date
	SET @ngayhientai = CAST(GETDATE() AS DATE)
	IF @search IS NULL OR @search = ''
		BEGIN
			SELECT S.ISBN, S.TENSACH, HA.FILENAME, CTGS1.GIA AS GIANHAP, CTGS2.GIA AS GIABAN, CTGS3.GIA AS GIAKHUYENMAI
				FROM (SELECT ISBN, TENSACH FROM SACH) S
				LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '1' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS1 ON CTGS1.ISBN = S.ISBN
				LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '2' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS2 ON CTGS2.ISBN = S.ISBN
				LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '3' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS3 ON CTGS3.ISBN = S.ISBN
				LEFT JOIN (SELECT * FROM HINHANH WHERE IDANH IN ( SELECT MIN(IDANH)FROM HINHANH GROUP BY ISBN)) HA ON HA.ISBN = S.ISBN
		END
	ELSE
		BEGIN
			SELECT S.ISBN, S.TENSACH, HA.FILENAME, CTGS1.GIA AS GIANHAP, CTGS2.GIA AS GIABAN, CTGS3.GIA AS GIAKHUYENMAI
				FROM (SELECT ISBN, TENSACH FROM SACH WHERE ISBN LIKE '%' + @search + '%' OR TENSACH LIKE '%' + @search + '%') S
				LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '1' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS1 ON CTGS1.ISBN = S.ISBN
				LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '2' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS2 ON CTGS2.ISBN = S.ISBN
				LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '3' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS3 ON CTGS3.ISBN = S.ISBN
				LEFT JOIN (SELECT * FROM HINHANH WHERE IDANH IN ( SELECT MIN(IDANH)FROM HINHANH GROUP BY ISBN)) HA ON HA.ISBN = S.ISBN
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_SO_PN_MANV_IDDON]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GET_SO_PN_MANV_IDDON]
@maNV varchar(50), @idDon int
AS
BEGIN
	SELECT MAX(SOPHIEUNHAP) FROM PHIEUNHAP WHERE MANHANVIEN =@maNV AND IDDON =@idDon
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllDonNhapSach]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllDonNhapSach]
AS
BEGIN
    SELECT D.* , NXB.TENNHAXUATBAN
    FROM (SELECT * FROM DONNHAPSACH) D INNER JOIN (SELECT * FROM NHAXUATBAN) NXB ON D.MANHAXUATBAN = NXB.MANHAXUATBAN 
    ORDER BY NGAYDAT DESC, IDDONNHAPSACH DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_CT_PN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_CT_PN]
@soPN int, @isbn varchar(20), @sl int, @dg int
AS
BEGIN
	INSERT INTO CTPHIEUNHAP(SOPHIEUNHAP, ISBN, SOLUONG, DONGIA)
	VALUES (@soPN, @isbn, @sl, @dg)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KIEM_TRA_XOA_DON_NHAP]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KIEM_TRA_XOA_DON_NHAP]
@idDonNhap int
AS
BEGIN
	SELECT COUNT(SOPHIEUNHAP) FROM PHIEUNHAP WHERE IDDON = @idDonNhap
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_CHI_TIET_DON_MUA_HANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAY_CHI_TIET_DON_MUA_HANG]
@idDonMuaSach int
AS
BEGIN
	SELECT CTDMS.*, S.TENSACH
	FROM (SELECT * FROM CTDONMUASACH WHERE IDDONMUASACH = @idDonMuaSach) CTDMS
	INNER JOIN (SELECT * FROM SACH) S ON CTDMS.ISBN = S.ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_CHI_TIET_GIO_HANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_CHI_TIET_GIO_HANG]
@tendangnhap varchar(50)
AS
BEGIN
	DECLARE @ngayhientai date
	SET @ngayhientai = CAST(GETDATE() AS DATE)
	SELECT GH.IDGIOHANG, GH.ISBN, S.TENSACH, GH.SOLUONG, CTGS.GIA AS GIABAN, CTGS1.GIA AS GIAGIAM, HA.FILENAME AS TENANH
		FROM (SELECT * FROM GIOHANG WHERE TENDANGNHAP = @tendangnhap) GH 
		INNER JOIN (SELECT * FROM SACH) S ON GH.ISBN = S.ISBN
		LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '2' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS ON CTGS.ISBN = GH.ISBN
		LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '3' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS1 ON CTGS1.ISBN = GH.ISBN
		LEFT JOIN (SELECT * FROM HINHANH WHERE IDANH IN ( SELECT MIN(IDANH)FROM HINHANH GROUP BY ISBN)) HA ON HA.ISBN = GH.ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_CHI_TIET_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_CHI_TIET_SACH]
@isbn varchar(20)
AS
BEGIN
	DECLARE @giaban int, @giagiam int , @ngayhientai date, @sobinhluan int, @tongdiem int
	SET @ngayhientai = GETDATE()
	SELECT TOP 1 @giaban = GIA FROM CTGIASACH WITH(INDEX=UK_CTGIASACH) WHERE IDGIA='2' AND ISBN = @isbn AND NGAYAPDUNG <= @ngayhientai
	SELECT @giagiam = GIA FROM CTGIASACH WITH(INDEX=UK_CTGIASACH) WHERE IDGIA='3' AND ISBN = @isbn AND (@ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC)
	SELECT @sobinhluan = COUNT(IDBINHLUAN), @tongdiem=SUM(DIEM) FROM BINHLUAN WHERE ISBN = @isbn
	SELECT S.*, NXB.TENNHAXUATBAN, @giaban AS GIABAN, @giagiam AS GIAGIAM, @sobinhluan AS SOBINHLUAN, @tongdiem AS TONGDIEM
	FROM ( SELECT * FROM SACH WHERE ISBN = @isbn) S 
	INNER JOIN (SELECT MANHAXUATBAN, TENNHAXUATBAN FROM NHAXUATBAN) NXB ON NXB.MANHAXUATBAN= S.MANHAXUATBAN

END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DON_MUA_HANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DON_MUA_HANG]
@tdn varchar(50)
AS
BEGIN
	SELECT * FROM DONMUASACH WHERE TENDANGNHAP =@tdn
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_BINH_LUAN_CUA_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_BINH_LUAN_CUA_SACH]
@isbn varchar(20)
AS
BEGIN
	SELECT IDBINHLUAN, BL.TENDANGNHAP, ISBN, NOIDUNG, DIEM, NGAY, HOTEN = KH.HO + ' ' +KH.TEN, KH.HINHANH
	FROM (SELECT * FROM BINHLUAN WHERE ISBN = @isbn) BL 
	INNER JOIN ( SELECT HO, TEN, HINHANH, TENDANGNHAP FROM KHACHHANG) KH ON KH.TENDANGNHAP = BL.TENDANGNHAP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_HA_QT]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAY_DS_HA_QT]
@isbn varchar(20)
AS
BEGIN
	SELECT * FROM HINHANH WHERE ISBN = @isbn
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_HINH_ANH_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAY_DS_HINH_ANH_SACH]
@isbn varchar(20)
AS
BEGIN
	SELECT * FROM HINHANH WHERE ISBN = @isbn
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_SACH]
@start int, @size int
AS
BEGIN
	DECLARE @ngayhientai date
	SET @ngayhientai = CAST(GETDATE() AS DATE)
	SELECT S.ISBN, S.TENSACH, TENTACGIA= TG.HO + ' ' + TG.TEN, CTGS.GIA AS GIABAN, CTGS1.GIA AS GIAGIAM, HA.FILENAME AS TENANH
	FROM 
	(SELECT * FROM SACH) S
	LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '2' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS ON CTGS.ISBN = S.ISBN
	LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '3' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS1 ON CTGS1.ISBN = S.ISBN
	LEFT JOIN (SELECT * FROM HINHANH WHERE IDANH IN ( SELECT MIN(IDANH)FROM HINHANH GROUP BY ISBN)) HA ON HA.ISBN = S.ISBN
	LEFT JOIN (SELECT * FROM SANGTAC WHERE IDSANGTAC IN ( SELECT MIN(IDSANGTAC)FROM SANGTAC GROUP BY ISBN)) ST ON ST.ISBN = S.ISBN
	INNER JOIN (SELECT * FROM TACGIA) TG ON TG.IDTACGIA = ST.IDTACGIA
	ORDER BY ISBN ASC
	OFFSET (@start) ROWS
	FETCH NEXT (@size) ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_SACH_QT]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_SACH_QT]
@search nvarchar(200)
AS
BEGIN
	IF @search IS NULL OR @search = ''
		BEGIN
			SELECT S.*, NXB.TENNHAXUATBAN
				FROM (SELECT * FROM SACH WITH(INDEX=IX_SOLUONG)) S
				INNER JOIN (SELECT * FROM NHAXUATBAN) NXB ON NXB.MANHAXUATBAN= S.MANHAXUATBAN
		END
	ELSE
		BEGIN
			SELECT S.*, NXB.TENNHAXUATBAN
				FROM (SELECT * FROM SACH WITH(INDEX=IX_SOLUONG) WHERE ISBN LIKE '%' + @search + '%' OR TENSACH LIKE '%' + @search + '%') S
				INNER JOIN (SELECT * FROM NHAXUATBAN) NXB ON NXB.MANHAXUATBAN= S.MANHAXUATBAN
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_SACH_THEO_NXB]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAY_DS_SACH_THEO_NXB]
@manxb varchar(20)
AS
BEGIN
	DECLARE @ngayhientai date
	SET @ngayhientai = CAST(GETDATE() AS DATE)
	SELECT S.ISBN, S.TENSACH, CTGS.GIA AS GIANHAP, HA.FILENAME AS TENANH
	FROM
	(SELECT * FROM SACH WHERE MANHAXUATBAN = @manxb) S
	LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '1' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS ON CTGS.ISBN = S.ISBN
	LEFT JOIN (SELECT * FROM HINHANH WHERE IDANH IN ( SELECT MIN(IDANH)FROM HINHANH GROUP BY ISBN)) HA ON HA.ISBN = S.ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_TAC_GIA]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAY_DS_TAC_GIA]
AS
BEGIN
	SELECT *, SANGTAC = (SELECT COUNT(IDSANGTAC) FROM SANGTAC WHERE SANGTAC.IDTACGIA = TACGIA.IDTACGIA)
	FROM TACGIA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_TAC_GIA_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_TAC_GIA_SACH]
@isbn varchar(20)
AS
BEGIN
	SELECT TG.*
	FROM (SELECT * FROM SANGTAC WHERE ISBN = @isbn) ST 
		INNER JOIN (SELECT * FROM TACGIA) TG ON ST.IDTACGIA = TG.IDTACGIA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_TG_QT]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_TG_QT]
@isbn varchar(20)
AS
BEGIN
	SELECT TG.*
		 FROM (SELECT * FROM SANGTAC WHERE ISBN = @isbn) ST
		 INNER JOIN (SELECT * FROM TACGIA) TG ON TG.IDTACGIA = ST.IDTACGIA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_THE_LOAI_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_THE_LOAI_SACH]
@isbn varchar(20)
AS
BEGIN
	SELECT TL.*
	FROM (SELECT * FROM THELOAISACH WHERE ISBN = @isbn) TLS 
		INNER JOIN (SELECT * FROM THELOAI) TL ON TL.IDTHELOAI = TLS.IDTHELOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_DS_TL_QT]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_DS_TL_QT]
@isbn varchar(20)
AS
BEGIN
	SELECT TL.*
		 FROM (SELECT * FROM THELOAISACH WHERE ISBN = @isbn) TLS
		 INNER JOIN (SELECT * FROM THELOAI) TL ON TL.IDTHELOAI = TLS.IDTHELOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_ID_GIO_HANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_ID_GIO_HANG]
@tendangnhap varchar(50), @isbn varchar(20)
AS
BEGIN
	SELECT IDGIOHANG, SOLUONG FROM GIOHANG WHERE TENDANGNHAP = @tendangnhap AND ISBN =@isbn
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_QUYEN_CUA_USER]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAY_QUYEN_CUA_USER]
@tdn varchar(50)
AS
BEGIN
	SELECT TENQUYEN
		FROM(SELECT IDQUYEN FROM TAIKHOAN WHERE TENDANGNHAP = @tdn) TK
		INNER JOIN (SELECT * FROM QUYEN) Q ON Q.IDQUYEN = TK.IDQUYEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_SL_SACH_CUA_NXB]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_SL_SACH_CUA_NXB]
@manxb varchar(20)
AS
BEGIN
	SELECT COUNT(ISBN) FROM SACH WHERE MANHAXUATBAN =@manxb
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_SL_SACH_GH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_SL_SACH_GH]
@tendangnhap varchar(50)
AS
BEGIN
	SELECT COUNT(ISBN) FROM GIOHANG WHERE TENDANGNHAP = @tendangnhap
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_SO_LUONG_SACH_CUA_THE_LOAI]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_SO_LUONG_SACH_CUA_THE_LOAI]
@id int 
AS
BEGIN
	SELECT COUNT(IDTHELOAISACH) FROM THELOAISACH WHERE IDTHELOAI = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_SO_LUONG_SANG_TAC]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_SO_LUONG_SANG_TAC]
@id int
AS
BEGIN
	SELECT COUNT(IDSANGTAC) FROM SANGTAC WHERE IDTACGIA = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TC_NXB]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_TC_NXB]
AS
BEGIN
	SELECT * FROM NHAXUATBAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TC_TG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_LAY_TC_TG]
AS
BEGIN
	SELECT * FROM TACGIA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_TC_TL]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_TC_TL]
AS
BEGIN
	SELECT * FROM THELOAI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LOGIN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LOGIN]
@tendangnhap varchar(50)
AS
BEGIN
	SELECT TENDANGNHAP, MATKHAU, TENQUYEN
		FROM (SELECT TENDANGNHAP, MATKHAU, IDQUYEN FROM TAIKHOAN WHERE TENDANGNHAP = @tendangnhap) TK
		INNER JOIN (SELECT * FROM QUYEN) Q ON Q.IDQUYEN = TK.IDQUYEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAO_KHACH_HANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAO_KHACH_HANG]
@tdn varchar(50), @email varchar(150), @ho nvarchar(50), @ten nvarchar(15), @gt bit, @diaChi nvarchar(200), @ngaySinh date, @sdt varchar(12)
AS
BEGIN
	INSERT INTO KHACHHANG(TENDANGNHAP, EMAIL, HO, TEN, GIOITINH, DIACHI, NGAYSINH, SODIENTHOAI)
	VALUES (@tdn, @email, @ho, @ten, @gt, @diaChi, @ngaySinh, @sdt)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAO_PHIEU_NHAP]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAO_PHIEU_NHAP]
@maNV varchar(50), @idDon int
AS
BEGIN
	DECLARE @ngayhientai date
	SET @ngayhientai = CAST(GETDATE() AS DATE)
	INSERT INTO PHIEUNHAP(MANHANVIEN, IDDON, NGAYLAP)
	VALUES (@maNV, @idDon, @ngayhientai)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAO_TAI_KHOAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAO_TAI_KHOAN]
@tdn varchar(50), @mk varchar(256), @idQuyen int
AS
BEGIN
	INSERT INTO TAIKHOAN(TENDANGNHAP, MATKHAU, IDQUYEN)
	VALUES (@tdn, @mk, @idQuyen)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_DON_MUA_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_DON_MUA_SACH]
@tendangnhap varchar(50), @trangthai int, @diachigiao nvarchar(200)
AS
BEGIN
	DECLARE @ngayhientai date;
	SET @ngayhientai= CAST(GETDATE() AS DATE)
	INSERT INTO DONMUASACH(TENDANGNHAP, NGAYMUA, TRANGTHAI, DIACHIGIAO)
	VALUES (@tendangnhap, @ngayhientai, @trangthai,@diachigiao)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_HINH_ANH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_HINH_ANH]
@isbn varchar(20), @file varchar(50)
AS
BEGIN
	INSERT INTO HINHANH(ISBN, FILENAME)
	VALUES(@isbn, @file)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_NHA_XUAT_BAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_NHA_XUAT_BAN]
@manxb varchar(20), @tennxb nvarchar(50), @chusohuu nvarchar(100)
AS
BEGIN
	INSERT INTO NHAXUATBAN(MANHAXUATBAN, TENNHAXUATBAN, CHUSOHUU)
	VALUES (@manxb, @tennxb, @chusohuu)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_SACH]
@isbn varchar(20), @tensach nvarchar(100), @khuonkho nvarchar(50), @sotrang int, @trongluong int, @mota nvarchar(500), @manxb varchar(20)
AS
BEGIN
	INSERT INTO SACH(ISBN, TENSACH, KHUONKHO, SOTRANG, TRONGLUONG, MOTA, MANHAXUATBAN)
	VALUES (@isbn, @tensach, @khuonkho, @sotrang, @trongluong, @mota, @manxb)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_SACH_VAO_CT_DON_MUA]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_SACH_VAO_CT_DON_MUA]
@isbn varchar(20), @tendangnhap varchar(50), @soluong int , @dongia int
AS
BEGIN
	DECLARE @iddon int;
	SELECT @iddon= MAX(IDDONMUASACH) FROM DONMUASACH WHERE TENDANGNHAP = @tendangnhap
	INSERT INTO CTDONMUASACH(IDDONMUASACH, ISBN, SOLUONG, DONGIA)
	VALUES (@iddon, @isbn, @soluong, @dongia)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_SACH_VAO_GIO_HANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_SACH_VAO_GIO_HANG]
 @tendangnhap varchar(50), @isbn varchar(20), @soluong int
AS
BEGIN
	INSERT INTO GIOHANG(TENDANGNHAP, ISBN, SOLUONG)
	VALUES (@tendangnhap, @isbn, @soluong)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_SANG_TAC]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_SANG_TAC]
@isbn varchar(20), @idTacGia int
AS
BEGIN
	INSERT INTO SANGTAC(ISBN, IDTACGIA)
	VALUES(@isbn, @idTacGia)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_TAC_GIA]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_TAC_GIA]
@ho nvarchar(50), @ten nvarchar(15)
AS
BEGIN
	INSERT INTO TACGIA(HO,TEN)
	VALUES(@ho, @ten)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_THE_LOAI]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_THE_LOAI]
 @ten nvarchar(50)
AS
BEGIN
	INSERT INTO THELOAI(TENTHELOAI)
	VALUES (@ten)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_THEM_THE_LOAI_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_THEM_THE_LOAI_SACH]
@isbn varchar(20), @idTheLoai int
AS
BEGIN
	INSERT INTO THELOAISACH(ISBN, IDTHELOAI)
	VALUES(@isbn, @idTheLoai)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TIM_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TIM_SACH]
@search nvarchar(100),@start int, @size int
AS
BEGIN
	DECLARE @ngayhientai date
	SET @ngayhientai = CAST(GETDATE() AS DATE)
	SELECT S.ISBN, S.TENSACH, TENTACGIA= TG.HO + ' ' + TG.TEN, CTGS.GIA AS GIABAN, CTGS1.GIA AS GIAGIAM, HA.FILENAME AS TENANH
	FROM 
	(SELECT * FROM SACH
		WHERE ISBN LIKE '%' + @search + '%' OR TENSACH LIKE '%' + @search + '%'
		OR ISBN IN (SELECT ISBN FROM (SELECT * FROM TACGIA WHERE HO + ' ' + TEN LIKE '%' + @search + '%') TG INNER JOIN (SELECT * FROM SANGTAC) ST ON ST.IDTACGIA = TG. IDTACGIA)
		OR ISBN IN (SELECT ISBN FROM (SELECT * FROM THELOAI WHERE TENTHELOAI LIKE '%' + @search + '%') TL INNER JOIN (SELECT * FROM THELOAISACH) TLS ON TL.IDTHELOAI = TLS.IDTHELOAI)
	) S
	LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '2' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS ON CTGS.ISBN = S.ISBN
	LEFT JOIN (SELECT * FROM CTGIASACH WHERE IDGIA = '3' AND @ngayhientai BETWEEN NGAYAPDUNG AND NGAYKETTHUC) CTGS1 ON CTGS1.ISBN = S.ISBN
	LEFT JOIN (SELECT * FROM HINHANH WHERE IDANH IN ( SELECT MIN(IDANH)FROM HINHANH GROUP BY ISBN)) HA ON HA.ISBN = S.ISBN
	LEFT JOIN (SELECT * FROM SANGTAC WHERE IDSANGTAC IN ( SELECT MIN(IDSANGTAC)FROM SANGTAC GROUP BY ISBN)) ST ON ST.ISBN = S.ISBN
	INNER JOIN (SELECT * FROM TACGIA) TG ON TG.IDTACGIA = ST.IDTACGIA
	ORDER BY GIAGIAM, GIABAN ASC
	OFFSET (@start) ROWS
	FETCH NEXT (@size) ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SL_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_SL_SACH]
@isbn varchar(20), @soLuong int
AS
BEGIN
	UPDATE SACH 
	SET SOLUONG = @soLuong
	WHERE ISBN= @isbn
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_CHI_TIET_DON_NHAP]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_CHI_TIET_DON_NHAP]
@idDonNhap int
AS
BEGIN
	DELETE FROM CTDONNHAPSACH WHERE IDDONNHAPSACH = @idDonNhap
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_CT_DMS]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_XOA_CT_DMS]
@iddon int
AS
BEGIN
	DELETE FROM CTDONMUASACH WHERE IDDONMUASACH = @iddon
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_DMS]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_DMS]
@iddon int
AS
BEGIN
	DELETE FROM DONMUASACH WHERE IDDONMUASACH = @iddon
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_DON_NHAP_SACH]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_DON_NHAP_SACH]
@idDonNhap int
AS
BEGIN
	DELETE FROM DONNHAPSACH WHERE IDDONNHAPSACH =@idDonNhap
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_NHA_XUAT_BAN]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_NHA_XUAT_BAN]
@manxb varchar(20)
AS
BEGIN
	DELETE FROM NHAXUATBAN WHERE MANHAXUATBAN = @manxb 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_SACH_TRONG_GIO_HANG]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_SACH_TRONG_GIO_HANG]
 @id int
AS
BEGIN
	DELETE FROM GIOHANG WHERE IDGIOHANG = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_TAC_GIA]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_TAC_GIA]
@id int
AS
BEGIN
	DELETE FROM TACGIA WHERE IDTACGIA =@id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XOA_THE_LOAI]    Script Date: 05/08/2024 7:06:18 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XOA_THE_LOAI]
@id int
AS
BEGIN
	DELETE FROM THELOAI WHERE IDTHELOAI =@id
END
GO
